@import "font.css";
html {
    background: #f6f6f1 url("../img/bg-content.png") fixed;
}
body {
    font: 14px/1.7 "Lucida Grande", "Lucida Sans Unicode", "DejaVu Sans", Lucida, Arial, Helvetica, 'Microsoft Yahei', sans-serif;
    background: #f6f6f1 url("../img/bg-content.png") fixed;
}
.container {
    width: 95%;
    margin: 0 auto;
}

#masthead {
    background: #000;
    border-bottom: 4px solid #f8d575;
    color: #ccc;
    min-height: 70px;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .25);
}
#masthead h1 {
    margin: 0;
    line-height: 70px;
    font-size: 40px;
}
#nav-toolbar {
    font-size: .785em;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .25);
    padding: 0;
    border-top: 1px solid #cbc8b9;
    border-bottom: 1px solid #f8f8f6;
    background: #f6f6f1 url("../img/bg-content.png") fixed;
    background: rgba(198, 198, 175, .35);
}
#nav-toolbar .crumbs ol {
    margin: 0;
    padding: .5em 0 .5em;
    list-style: none;
}
#nav-toolbar .crumbs li {
    display: inline;
    padding-left: 13px;
    margin-left: 6px;
    background: url("../img/nav-arrows.png") -15px -698px no-repeat;
}
#nav-toolbar .crumbs li:first-child {
    padding-left: 0;
    margin-left: 0;
    background: none;
}
#nav-toolbar .crumbs li a {
    text-decoration: underline;
}
#nav-toolbar a:link, #nav-toolbar a:visited {
    color: #6d6d67;
}
#nav-toolbar a:link, #nav-toolbar a:visited {
    color: #6d6d67;
}
#nav-toolbar a:link, #nav-toolbar a:visited {
    color: #6d6d67;
}
#nav-toolbar a:link, #nav-toolbar a:visited {
    color: #6d6d67;
}

#mastcontent {
    position: relative;
}

#wikiTool {
    position: absolute;
    right: 5px;
    top: 12px;
}
#wikiAction {
    float: right;
    margin-bottom: 20px;
}

.btn {
    background: #ddd url("../img/button-edit.png") 0 50% repeat-x;
    display: inline-block;
    color: #333;
    font: 200 15px/1 "Bebas Neue","League Gothic",Haettenschweiler,sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 1px 1px 0 rgba(0,0,0,.25);
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.25);
    box-shadow: 1px 1px 0 rgba(0,0,0,.25);
    padding: 7px 8px 4px 32px;
    cursor: pointer;
}

#wikiTitle {
    font-size: 26px;
    line-height: 1.5;
    margin: 10px 0;
}
input#wikiTitle {
    border: 1px solid #ecece7;
    -moz-box-shadow: 2px 2px 0 rgba(170, 160, 130, .5), 4px 4px 0 rgba(200, 190, 165, .5);
    -webkit-box-shadow: 2px 2px 0 rgba(170, 160, 130, .5), 4px 4px 0 rgba(200, 190, 165, .5);
    box-shadow: 2px 2px 0 rgba(170, 160, 130, .5), 4px 4px 0 rgba(200, 190, 165, .5);
    width: 100%;
    text-indent: 18px;
    color: #444;
    line-height: 2em;
}

#wikiContent {
    background: #fff;
    padding: 18px;
    margin: 0 0 26px 0;
    border: 1px solid #ecece7;
    -moz-box-shadow: 2px 2px 0 rgba(170, 160, 130, .5), 4px 4px 0 rgba(200, 190, 165, .5);
    -webkit-box-shadow: 2px 2px 0 rgba(170, 160, 130, .5), 4px 4px 0 rgba(200, 190, 165, .5);
    box-shadow: 2px 2px 0 rgba(170, 160, 130, .5), 4px 4px 0 rgba(200, 190, 165, .5);
}

.editor-toolbar{
    text-align: center;
}