<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Joe McCann">
  <link href="https://fonts.googleapis.com/css?family=Arvo:400,700&subset=latin" rel="stylesheet" type="text/css">

  <!--<link href="/libs/dillinger/css/bootstrap.css" rel="stylesheet">
  <link href="/libs/dillinger/css/bootstrap-responsive.css" rel="stylesheet">-->

  <link href="/css/dillinger_style.css" rel="stylesheet">
  <link href="/css/github.css" rel="stylesheet">
  <link href="/libs/rainbow/themes/obsidian.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="notify_container">
  <div id="notify"></div>
</div>

<div id="main">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="#">Niki</a>

        <p class="pull-right powerby">power by <a href="http://dillinger.io/">Dillinger</a></p>
      </div>
    </div>
  </div>

  <div id="app_wrap" class="container-fluid">
    <div id="editor">
    </div>
    <div id="filename">
      <span contenteditable="true"></span>
    </div>
    <div id="preview" class="shadowbox"></div>
    <div id="temp" style="display: none"></div>
    <div id="wikiSave">
      <a href="#" class="saveBtn" id="saveBtn">Save</a>
    </div>
  </div>
  <!-- end #app_wrap -->
</div>
<!-- end #main -->
<div class="modal hide fade" id="restore">
  <div class="modal-header">
    <h3>Niki</h3>
  </div>
  <div class="modal-body">
    <p>发现未保存的wiki文档，是否恢复？</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">关闭</a>
    <a href="#" class="btn btn-primary" id="restoreBtn">恢复</a>
  </div>
</div>
<form method="POST" action="/edit" style="display: none" id="wikiForm">
  <input id="wikiTitle" name="title" value="<%= title %>"/>
  <input id="wikiSlug" name="slug" value="<%= slug %>"/>
  <textarea name="content" id="wikiContent" cols="30" rows="10"><%= content %></textarea>
</form>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
<script src="/libs/dillinger/js/bootstrap.min.js"></script>
<script src="/libs/dillinger/js/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/libs/dillinger/js/mode-markdown.js" type="text/javascript" charset="utf-8"></script>
<script src="/libs/dillinger/js/showdown.js" type="text/javascript"></script>
<script src="/libs/dillinger/js/keymaster.js" type="text/javascript"></script>
<script src="/libs/dillinger/js/marked.js" type="text/javascript"></script>
<script src="/libs/dillinger/js/dillinger_custom.js" type="text/javascript"></script>
<script src="/libs/dillinger/js/theme-tomorrow_night_eighties.js" type="text/javascript"></script>
<script src="/libs/rainbow/rainbow.min.js"></script>
<script src="/libs/rainbow/language/generic.js"></script>
<script src="/libs/rainbow/language/javascript.js"></script>
</body>
</html>