<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<link rel='stylesheet' href='/css/reset.css'/>-->
  <!--<link rel='stylesheet' href='/css/style.css'/>-->

  <link rel='stylesheet' href='/css/bootstrap.css'/>
  <link rel='stylesheet' href='/css/bootstrap-responsive.css'/>
  <link rel='stylesheet' href='/css/github.css'/>
  <link rel='stylesheet' href='/css/index.css'/>
  <link href="/libs/rainbow/themes/obsidian.css" rel="stylesheet" type="text/css">
  <!--  solarized-dark.css  solarized-light.css  tomorrow-night.css twilight.css -->
</head>
<body>
<div class="container">

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" id="niki" href="#">Niki</a>
      </div>
    </div>
  </div>
  <div class="bs-docs-sidebar">
    <ul class="nav nav-list bs-docs-sidenav" id="structure">
    </ul>
  </div>
  <div class="container-fluid">
    <h1 id="title"><%= title %></h1>
    <div id="content" class="shadowbox">
      <%- content %>
    </div>
  </div>
</div>


<a href="/edit/<%= slug %>" id="edit">Edit</a>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/libs/rainbow/rainbow.min.js"></script>
<script src="/libs/rainbow/language/generic.js"></script>
<script src="/libs/rainbow/language/javascript.js"></script>
<script type="text/javascript">
  (function () {
    var i = 0;
    $('#content').find('h2').each(function (index, item) {
      $(item).attr('id', "subTitle" + i);
     // $('<li><a href="#subTitle' + i + '" rel="internal">' + $(item).text() + '</a></li>').appendTo($('#structure'));
      $('<li class=""><a href="#subTitle' + i + '"><i class="icon-chevron-right"></i>' + $(item).text() + '</a></li>').appendTo($('#structure'));
      i++;
    });
  })();
</script>
</body>
</html>