<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/css/reset.css'/>
  <link rel='stylesheet' href='/css/style.css'/>
  <link rel='stylesheet' href='/css/wiki.css'/>
  <link href="/libs/rainbow/themes/obsidian.css" rel="stylesheet" type="text/css"><!--  solarized-dark.css  solarized-light.css  tomorrow-night.css twilight.css -->
  <style type="text/css">
    pre {
      width: 700px;
    }
  </style>
</head>
<body>
<header id="masthead">
  <hgroup class="container">
    <h1>Niki</h1>
  </hgroup>
</header>
<section id="nav-toolbar" style="display: none">
  <div class="container">
    <nav class="crumbs" role="navigation">
      <ol>
        <li class="crumb"><a href="/">HOME</a></li>
        <li class="crumb">Using HTML5 audio and video</li>
      </ol>
    </nav>
  </div>
</section>
<div id="mastcontent" class="container">
  <h1 id="wikiTitle"><%= title %></h1>
  <div id="wikiTool" class="btns">
    <a id="page-edit" class="btn" href="/edit/<%= slug %>">EDIT</a>
  </div>
  <section id="wikiContent">
    <article id="article-wrapper">
      <div id="article-nav">
        <div class="page-toc">
          <div class="title">目录</div>
          <ol></ol>
        </div>
      </div>
      <%- content %>
    </article>
  </section>
</div>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/libs/rainbow/rainbow.min.js"></script>
<script src="/libs/rainbow/language/generic.js"></script>
<script src="/libs/rainbow/language/javascript.js"></script>
<script type="text/javascript">
  (function () {
    var i = 0;
    $('#wikiContent').find('h3').each(function (index, item) {
      $(item).attr('id', "subTitle" + i);
      $('<li><a href="#subTitle' + i + '" rel="internal">' + $(item).text() + '</a></li>').appendTo($('#article-nav').find('ol'));
      i++;
    });
  })();
</script>
</body>
</html>